<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="3">

    <test verbose="3" name="Menu Bar Tests">
        <classes>
            <class name="DefaultWebElementsTest"></class>
        </classes>
    </test>

</suite>